html {
    background-color: #0c0c0f;
}

body {
    margin: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', Roboto, sans-serif;
}

#app {
    min-height: 100vh;
}
